     /* --- navbar --- */
.navbut{ 
    background-color: #222222;
    color: white;
    border: none;
    box-shadow: inset 0 0 5px white;
}

.signinbut{
    padding-right: 20px;
    float: right;   
    padding-top: 30px;  
}

.navbar{
    height: 100px;
    margin: 0;
    padding: 0px;
    border-radius: 0px;
    font-family: 'Rock Salt', cursive;
}

.navbardiv{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.navlogo{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 40px;
}

.btn.btn-custom {
    color: #ECECEC;
    background-color: #46596b;
    border-color: #D2D7D3; 
}

.btn.btn-custom:hover, .btn.btn-custom:focus {
    color: #F22613;
    background-color: #19B5FE;
    border-color: #19B5FE;
}


  /* --- body --- */

body { 
    background-color: #F2F1EF;
}

h1 {
    font-family: 'Rock Salt', cursive;  
}

small {
    font-family: 'Orbitron', sans-serif; 
    font-size: 8px;
}

.container {
    background-color: #F2F1EF;
}

.logo {
    margin-top: 150px;
}

.show {
    margin-top: 150px;
    background-color: rgba(52, 73, 94, .9);
    border-radius: 10px;
    color: #D2D7D3;
}





