     /* --- navbar --- */
.navbut{ 
    background-color: #222222;
    color: white;
    border: none;
    box-shadow: inset 0 0 5px white;
}

.signinbut{
    padding-right: 20px;
    float: right;   
    padding-top: 30px;  
}

.navbar{
    height: 100px;
    margin: 0;
    padding: 0px;
    border-radius: 0px;
    font-family: 'Rock Salt', cursive;
}

.navbardiv{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.navlogo{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 40px;
}

.btn.btn-custom {
    color: #ECECEC;
    background-color: #46596b;
    border-color: #D2D7D3; 
}

.btn.btn-custom:hover, .btn.btn-custom:focus {
    color: #F22613;
    background-color: #19B5FE;
    border-color: #19B5FE;
}

/* -------------createBlogPost--------------- */
body {
    background-color: #F2F1EF;
}

.robot {
    position: absolute;
    margin-left: 220px;
    margin-top: -170px;
    z-index: +1;
}

#createBlog {
    height: 725px;
    background-position: absolute;
    background-color: #ECECEC;
    color: #ECECEC;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D2D7D3;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

form {
    padding-top: 200px;
}

input {
    background-color: #81CFE0;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: #22313F;
    font-size: 20px;
}

textarea {
    width: auto;
    background-color: #81CFE0;
    border-radius: 10px;
    border-color: transparent;
    color: #22313F; 
    font-size: 20px;
    resize: both;
    overflow: auto;
    z-index: -1000;
}

.submit{
    background-color: #81CFE0;
    border-radius: 10px;
    border-color: transparent;
    color: #22313F; 
    font-weight: bold;
    font-size: 20px;
}

